---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-200 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Benjamin Bencosme empecé en la
      programación cuando tenía 17 años. Actualmente me  
      desempeño como Software Developer Junior, egresado como <strong>
      Tecnólogo en Desarrollo de Software del ITLA. </strong>
      Apasionado por el aprendizaje continuo, estoy enfocado en fortalecer 
      mis habilidades técnicas y profesionales en el ecosistema Salesforce, 
      incluyendo el desarrollo de aplicaciones, personalización de objetos, 
      automatización de procesos empresariales y creación de soluciones 
      innovadoras que impulsen la eficiencia y productividad. Busco 
      crecer profesionalmente mientras aporto valor a proyectos que 
      requieran experiencia en desarrollo de software y Salesforce
    </p>
  </div>



</article>
